script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
// script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")
script(src=appUrl+"/js/angular.ui.sortable.js")
//script(src=appUrl+"/js/angular.min.js")
script(src=appUrl+"/js/app.js")
script(src=appUrl+"/js/controllers.js")
link(href=appUrl+"/stylesheets/style.css", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
//link(href=appUrl+"/stylesheets/bootstrap.min.css", rel="stylesheet", type="text/css")
#HangDownContent(ng-app='HangDown', ng-controller="HangDownListCntr")
  header#HangDownHeader
    h1 HangDown
    p#HangDownTagLine Conversations on 
      span.highlight Point
  
  #HangDownTopics
    ul#PastTopics
      li.topic(ng-repeat="topic in pastTopics")
        .main
          p.title {{topic.contents}}
          p.creator {{topic.creator}}
        .time
          span {{topic.duration}}

    #CurrentTopic.topic(ng-if="currentTopic != null")
      .main
        p.title {{currentTopic.contents}}
        p.creator {{currentTopic.creator}}
        button(ng-click="deleteTopic('{{currentTopic.id}}')").delete-topic Delete
      .time
        span {{formatDuration(currentTopic.startTime)}}

    ul#FutureTopics(ui-sortable='topicSortConfig', ng-model='futureTopics')
      li.topic(ng-repeat="topic in futureTopics")
        .main
          p.title {{topic.contents}}
          p.creator {{topic.creator}}
          button(ng-click="deleteTopic('{{topic.id}}')").delete-topic Delete
        .time

  footer#HangDownControls
    #HangDownButtons
      button(ng-click="advanceTopics()") Advance
        img(src=appUrl+"/img/glyphicons_176_forward.png")
    form#HangDownAddTopic(ng-submit="addNewTopic(newTopicBuffer, currentUser.person.displayName); newTopicBuffer='';")
      input(ng-model="newTopicBuffer", placeholder="New Topic...")
      button(type="submit") Add
    #HangDownConversationTimer(ng-if="conversationStart != null")
      {{formatDuration(conversationStart)}}