script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
// script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")
script(src=appUrl+"/js/angular.ui.sortable.js")
//script(src=appUrl+"/js/angular.min.js")
script(src=appUrl+"/js/app.js")
script(src=appUrl+"/js/controllers.js")
link(href=appUrl+"/stylesheets/style.css", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
//link(href=appUrl+"/stylesheets/bootstrap.min.css", rel="stylesheet", type="text/css")
#HangDownContent(ng-app='HangDown', ng-controller="HangDownListCntr")
  header#HangDownHeader
    h1 HangDown
    p#HangDownTagLine Conversations on 
      span.highlight Point
  
  ul#HangDownTopics(ui-sortable='topicSortConfig', ng-model='topics')
    li(ng-repeat="topic in topics", ng-class="{ active: (activeTopicIndex == $index), past: (activeTopicIndex > $index) }")
      .main
        p.title {{topic.label}}
        p.creator {{topic.creator}}
        button(ng-click="deleteTopic('{{topic.id}}')").delete-topic Delete
      .time
        span(ng-if="topic.duration != null") {{topic.duration}}

  footer#HangDownControls
    #HangDownButtons
      button(ng-click="regressTopic()") Regress
      button(ng-click="advanceTopic()") Advance
    form#HangDownAddTopic(ng-submit="addNewTopic(newTopicBuffer); newTopicBuffer='';")
      input(ng-model="newTopicBuffer", placeholder="New Topic...")
      button(type="submit") Add
    #HangDownConversationTimer(ng-if="conversationStart != null")
      {{formatDuration(conversationStart)}}